h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-color: #5ab963 #5ab963 #5ab963 #e6e6e6;
  border-left-style: solid;
  border-left-width: 5px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

figcaption {
  margin-top: 5px;
  text-align: center;
}

.navigation {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  max-width: 1170px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: -90px;
  padding: 210px 30px 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #231e54;
}

.bullet {
  width: 4px;
  height: 4px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50%;
  background-color: #fff;
}

.navigation-button {
  margin-left: 15px;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.navigation-button:hover {
  background-color: #fff;
  color: #000;
}

.header-content {
  max-width: 770px;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  text-align: center;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 72px;
  line-height: 78px;
  font-weight: 800;
  letter-spacing: -1px;
}

.h1.cc-black {
  margin-top: 15px;
  margin-bottom: 60px;
  color: #000;
  text-align: center;
}

.paragraph {
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.paragraph.cc-gray {
  color: #000;
  text-align: center;
}

.button {
  margin-top: 50px;
  padding: 15px 30px;
  border: 1px none #000;
  border-radius: 4px;
  background-color: #231e55;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
}

.button:hover {
  background-color: #4776e6;
}

.button.cc-cta {
  margin-top: 0px;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1170px;
}

.container.cc-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.cc-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container.cc-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container.cc-blogpost {
  display: block;
  max-width: 770px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h2 {
  position: relative;
  top: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
}

.h2.cc-center {
  margin-bottom: 40px;
  color: #000;
  font-size: 20px;
}

.h2.cc-2-rows {
  margin-bottom: 25px;
  text-align: center;
}

.h2.text-span.cc-post-text {
  margin-bottom: 15px;
}

.h2-container {
  width: 50%;
  margin-bottom: 90px;
}

.h2-container.cc-center {
  width: 65%;
  margin-bottom: 0px;
  text-align: center;
}

.text-span {
  color: #000;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.h3.cc-cta {
  margin-bottom: 0px;
  color: #5ab963;
}

.h3.cc-header {
  margin-bottom: 0px;
  color: #fff;
  text-decoration: none;
}

.h3.cc-latest-posts {
  margin-bottom: 40px;
}

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 115px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.separator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.separator.cc-background-grey {
  background-color: #fafafa;
}

.line-color {
  height: 1px;
  background-color: #e6e6e6;
}

.premium {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.premium.cc-background {
  background-color: transparent;
}

._2-row-image.cc-bottom {
  margin-right: 0px;
}

._2-row-image.cc-row-spacing {
  margin-right: 100px;
}

._2-row-text {
  max-width: 370px;
  margin-right: 100px;
}

._2-row-text.cc-bottom {
  margin-right: 100px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.row.cc-bottom {
  margin-top: 90px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.cta-line {
  width: 30px;
  height: 2px;
  margin-left: 20px;
  background-color: #5ab963;
}

.cta-line.cc-header {
  background-color: #fff;
}

.cta-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-left-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 30px 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #231e54;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.footer-column.cc-footer {
  position: absolute;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-footer-credits {
  margin-top: 15px;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.footer-links-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.link-footer {
  margin-bottom: 25px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
}

.link-footer:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.link-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -90px;
  padding: 180px 30px 90px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #231e54;
}

.header-inner.cc-header-extra {
  padding-bottom: 210px;
  background-color: #231e54;
}

.header-inner-content {
  width: 57%;
}

.inner-category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.premium-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 30px 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.premium-image-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 720px;
  max-width: 1440px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-facts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fact-block {
  padding: 50px 40px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.container-facts-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding-right: 10px;
  padding-left: 10px;
}

.header-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -120px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 115px 30px 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -120px;
  margin-bottom: 120px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-posts-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33333333%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.post-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.blog-posts-item-container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.post-info {
  padding: 30px;
}

.post-date {
  margin-bottom: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.header-blog {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -90px;
  padding-top: 90px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-image {
  position: relative;
  z-index: 1;
  max-height: 750px;
  max-width: 1440px;
}

.header-color {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 75%;
  background-color: #5ab963;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.rich-text {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.rich-text h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 24px;
  font-weight: 800;
}

.rich-text p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 24px;
}

.rich-text img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.rich-text figcaption {
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: 'Libre Franklin', sans-serif;
  color: #777;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.nav-link.w--current {
  color: #fff;
}

.latest-posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  margin-bottom: 40px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: transparent;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.div-block {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.card-h3 {
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: 'Libre Franklin', sans-serif;
  color: #231e54;
  font-size: 26px;
  font-weight: 800;
}

.button-row {
  text-align: center;
}

.smaller-button {
  margin: 5px 2px;
  padding: 15px 30px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #231e55;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 800;
  text-align: center;
}

.smaller-button:hover {
  border: 2px solid #231e54;
  background-color: #fff;
  color: #231e54;
}

.bold-text {
  font-size: 30px;
  line-height: 75px;
}

.text-block-3 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 24px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.heading {
  display: block;
  font-size: 30px;
}

.div-block-4 {
  font-weight: 700;
}

.paragraph-2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  white-space: normal;
}

.list {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
}

.list-item {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
}

.list-item-2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
}

.list-item-3 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
}

.upsell-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75px;
  margin-top: 0px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 3px solid #2ecc71;
  border-radius: 10px;
}

.text-block-4 {
  text-align: center;
}

@media (max-width: 991px) {
  .navigation {
    z-index: 999;
    padding-right: 10px;
  }
  .header {
    padding-right: 60px;
    padding-left: 60px;
  }
  .bullet {
    display: none;
  }
  .navigation-button {
    width: 75%;
    margin: 20px 30px;
  }
  .h2-container {
    width: 80%;
  }
  .h2-container.cc-center {
    width: 80%;
  }
  ._2-row-image {
    max-width: 50%;
    margin-right: 30px;
  }
  ._2-row-image.cc-row-spacing {
    margin-right: 50px;
  }
  ._2-row-text {
    margin-right: 0px;
  }
  ._2-row-text.cc-bottom {
    margin-right: 50px;
  }
  .header-inner-content {
    width: 80%;
  }
  .container-facts {
    margin: -10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .fact-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .container-facts-inner {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .blog-posts-item {
    width: 50%;
  }
  .header-color {
    height: 85%;
  }
  .contact-intro {
    padding-bottom: 110px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .nav-menu {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #5ab963;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .icon-2 {
    color: #fff;
    font-size: 32px;
  }
  .menu-button:active {
    background-color: #5ab963;
  }
  .menu-button.w--open {
    background-color: #5ab963;
  }
}

@media (max-width: 767px) {
  .header {
    height: 600px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .h1 {
    font-size: 48px;
    line-height: 54px;
  }
  .h1.cc-black {
    margin-bottom: 50px;
  }
  .container.cc-cta {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .container.cc-footer {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .h2-container {
    width: 100%;
    margin-bottom: 60px;
  }
  .h2-container.cc-center {
    width: 100%;
  }
  .about {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .premium {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  ._2-row-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 60px;
  }
  ._2-row-image.cc-row-spacing {
    margin-right: 0px;
  }
  ._2-row-text {
    margin-right: 0px;
  }
  ._2-row-text.cc-bottom {
    margin-right: 0px;
  }
  .row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cta {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .cta-column {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-column {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer-column.cc-footer {
    width: 100%;
  }
  .header-inner {
    padding-top: 150px;
    padding-bottom: 60px;
  }
  .header-inner.cc-header-extra {
    padding-bottom: 180px;
  }
  .header-inner-content {
    width: 100%;
  }
  .premium-intro {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .about-intro {
    padding-top: 85px;
    padding-bottom: 45px;
  }
  .blog-posts-item {
    width: 100%;
  }
  .header-color {
    height: 85%;
  }
  .content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contact-intro {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .nav-menu {
    background-color: #4776e6;
  }
}

@media (max-width: 479px) {
  .navigation-container {
    height: 60px;
  }
  .header {
    height: 100vh;
    margin-top: -60px;
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .h1 {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0px;
  }
  .container.cc-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .h2 {
    font-size: 20px;
    line-height: 30px;
  }
  ._2-row-image {
    margin-bottom: 60px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  ._2-row-text {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  ._2-row-text.cc-bottom {
    margin-right: 0px;
  }
  .row.cc-bottom {
    margin-top: 60px;
  }
  .footer-column {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-links-list {
    width: 50%;
  }
  .footer-social {
    width: 50%;
  }
  .header-inner {
    margin-top: -60px;
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .header-inner.cc-header-extra {
    padding-bottom: 150px;
  }
  .premium-intro {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container-facts-inner {
    width: 100%;
  }
  .blog-posts {
    margin-top: -90px;
    margin-bottom: 90px;
  }
  .header-color {
    height: 85%;
  }
  .contact-intro {
    padding-bottom: 80px;
  }
  .menu-button:active {
    background-color: #4776e6;
  }
  .div-block {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
}

